.hero-section1 {
  position: relative;
  animation: zoomBackground 20s ease-in-out infinite;
}

.overlay1 {
  background: rgba(0, 0, 0, 0.2);
  padding: 80px;
  max-width: 90%;
  margin: 0 auto;
}

.headline1 {
  font-weight: bolder;
  color: aqua;
  font-size: 50px;
}

.about-section1 {
  padding: 60px 20px;
  background-color: #f0fbe8;
}

.about-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  gap: 70px;
}

.about-text1 {
  flex: 1 1 500px;
  padding-left: 10px;
}

.about-text1 h3 {
  font-size: 1.5rem;
  color: #2a2a2a;
}

.about-text1 p {
  line-height: 1.6;
  color: #333;
}

.about-image-wrapper1 {
  flex: 1 1 500px;
  margin-top: 40px;
}

.about-image-wrapper1 .about-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Vision & Mission */
.vision-mission {
  max-width: 1200px;
  margin: 60px auto;
  padding: 50px 20px;
  color: #fff;
  background: linear-gradient(to right, #111, #1a1a1a);
  border-radius: 10px;
  margin-top: 50px;
}

.vision-mission h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #77ff00b9;
}

.vision-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

.card-left {
  flex-direction: row;
}

.card-right {
  flex-direction: row-reverse;
}

.card-text {
  flex: 1;
  text-align: left;
}

.card-text h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #77ff00;
}

.card-text ul {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ddd;
  list-style: disc;
  padding-left: 20px;
}

.card-image {
  flex: 1;
  text-align: center;
}

.card-image img {
  max-width: 100%;
  border-radius: 10px;
}
